<% content_for(:page_header) do %>
  <%= "Lista de Potreros" %>
<% end %>
<% content_for :panel_heading do %>Potreros<% end %>
<p id="notice"><%= notice %></p>

<div class="page-wrapper kpi-box" style="min-height: 731px;">
  <div class = "row">
    <div class = "page-wrapper new_buttons">
      <%= link_to '+ Potrero', new_plot_path, :class => "btn btn-primary col-xs-6"%>
      <%= link_to '+ Evaluación', new_plot_evaluation_path, :class => "btn btn-primary col-xs-6"%>
    </div>
  </div>
  <div class = "row">
    <%= form_tag plots_path, :method => 'get' do %>
    <div class="form-group input-group page-wrapper search-bar">
        <%= text_field_tag :search, params[:search], :class=>"form-control", :placeholder => "Ingrese el número de potrero, hacienda o tipo" %>
        <span class="input-group-btn">
          <%= submit_tag 'Buscar', :name => nil, :class=>"btn btn-default" %>
        </span>
    </div>
    <% end %>
  </div>
  <div class="dataTables_wrapper form-inline dt-bootstrap no-footer">
    <div class = "row">
      <div clas="col-sm-12">
        <div class ="table-responsive">
          <table class="table table-striped table-bordered table-hover">
            <thead>
              <tr>
                <th><%= sortable "ranch",  "Hda."     %></th>
                <th><%= sortable "plot_type",  "Tipo"     %></th>
                <th><%= sortable "number",  "#"     %></th>
                <th><%= sortable "water_score",  "Agua"     %></th>
                <th><%= sortable "pasture_score",  "Pasturas"     %></th>
                <th><%= sortable "fences_score",  "Cercas"     %></th>
                <th><%= sortable "average",  "Pm."     %></th>
                <th colspan="3"> </th>
              </tr>
            </thead>
            <tbody>
              <% @plots.each do |plot| %>
                  <tr>
                    <td><%= plot.ranch %></td>
                    <td><%= plot.plot_type %></td>
                    <td><%= plot.number %></td>
                    <td><%= plot.water_score %></td>
                    <td><%= plot.pasture_score %> <small>(<%=plot.area%><small>mzs</small>)</small></td>
                    <td><%= plot.fences_score %></td>
                    <td><%= plot.average %> <small>(<%=plot.days_since_last_evaluation%>d)</small></td>

                    <td>
                      <%= link_to '<i class="fa fa-info-circle fa-fw"></i>'.html_safe, plot_path(plot.plot_id)  %>
                      <% if current_user && (current_user.admin?)%>
                        <%= link_to '<i class="fa fa-edit fa-fw"></i>'.html_safe, edit_plot_path(plot.plot_id) %>
                      <% end %>
                    </td>
                  </tr>
              <% end %>
            </tbody>
          </table>

        </div>
      </div>
    </div>
    <div class = "flickr_pagination">
      <%= will_paginate @latest_weights, :previous_label => 'Anterior', :next_label => 'Siguiente' %>
    </div>
  </div>
