<p id="notice"><%= notice %></p>
<div class="container">
<div class="row">



<h1 class="col-sm-4">Potreros</h1>
<%= link_to 'Nuevo Potrero', new_plot_path, :class => "btn btn-primary new-btn col-sm-4"%>
<%= link_to 'Nueva Evaluación', new_plot_evaluation_path, :class => "btn btn-primary new-btn col-sm-4"%>
</div>
<h2>Bovino</h2>
<table class="table">
  <thead>
    <tr>
      <th>Número</th>
      <th>Maleza</th>
      <th>Pasturas</th>
      <th>Cercas</th>
      <th>Promedio</th>
      <th>Hacienda</th>
      <th colspan="3"> Acciones</th>
    </tr>
  </thead>

  <tbody>
    <% @plots.each do |plot| %>
      <% if plot.plot_type == 'bovino' then %>
        <tr>
          <td><%= plot.number %></td>
          <td><%= plot.weed_score %></td>
          <td><%= plot.pasture_score %></td>
          <td><%= plot.fences_score %></td>
          <td><%= plot.average %></td>
          <td><%= plot.ranch %></td>
          <td>
            <%= link_to 'M', plot, :title => "Más detalles"  %>
            <%= link_to 'E', edit_plot_path(plot),:title => "Editar" %>
            <%= link_to 'B', plot, method: :delete, data: { confirm: 'Está seguro?' }, :title => "Borrar" %>
          </td>
          <td></td>
          <td></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
<h2> Ovino</h2>
<table class="table">
  <thead>
    <tr>
      <th>Número</th>
      <th>Maleza</th>
      <th>Pasturas</th>
      <th>Cercas</th>
      <th>Promedio</th>
      <th>Hacienda</th>
      <th colspan="3"> Acciones</th>
    </tr>
  </thead>

  <tbody>
    <% @plots.each do |plot| %>
      <% if plot.plot_type == 'ovino' then %>
        <tr>
          <td><%= plot.number %></td>
          <td><%= plot.weed_score %></td>
          <td><%= plot.pasture_score %></td>
          <td><%= plot.fences_score %></td>
          <td><%= plot.average %></td>
          <td><%= plot.ranch %></td>
          <td>
            <%= link_to 'M', plot, :title => "Más detalles"  %>
            <%= link_to 'E', edit_plot_path(plot),:title => "Editar" %>
            <%= link_to 'B', plot, method: :delete, data: { confirm: 'Está seguro?' }, :title => "Borrar" %>
          </td>
          <td></td>
          <td></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Potrero', new_plot_path, :class => "btn btn-primary new-btn col-sm-4"%>
<%= link_to 'Nueva Evaluación', new_plot_evaluation_path, :class => "btn btn-primary new-btn col-sm-4"%>
</div>
