<%= form_with(model: weight, local: true) do |form| %>
  <% if weight.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(weight.errors.count, "error") %> prohibited this weight from being saved:</h2>

      <ul>
      <% weight.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :animal_id, "Animal" %>
    <%= form.collection_select(:animal_id, Animal.all.order("ranch desc, species asc, animal_number asc"), :id, :number_with_ranch, :selected => params[:animal_id])  %>
  </div>

  <div class="form-group">
    <%= form.label :date, "Fecha" %>
    <%= form.date_select :date, :use_month_numbers => true, :date_separator => " / ",  order: [:day, :month, :year], id: :weight_date %>
  </div>

  <div class="form-group">
    <%= form.label :weight, "Peso" %>
    <%= form.text_field :weight, id: :weight_weight %>
  </div>

  <div class="form-group">
    <%= form.label :note, "Observaciones" %>
    <%= form.text_area :note, id: :weight_note %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
