<p id="notice"><%= notice %></p>
<div class="container">

  <p>
    <strong>Animal:</strong>
    <%= @weight.animal_id %>
  </p>

  <p>
    <strong>Fecha:</strong>
    <%= @weight.date %>
  </p>

  <p>
    <strong>Peso:</strong>
    <%= @weight.weight %>
  </p>

  <p>
    <strong>Observaciones:</strong>
    <%= @weight.note %>
  </p>
<% if current_user && (current_user.admin?)%>
  <%= link_to 'Editar', edit_weight_path(@weight) %> |
  <%= link_to 'Borrar', @weight, method: :delete, data: { confirm: 'Estás seguro?', :title => "Borrar"} %> |
<% end %>
  <%= link_to 'Atrás', animals_path %> |
  <%= link_to 'Nuevo Peso', new_weight_path %>
</div>
