<div class="page-wrapper kpi-box" style="min-height: 731px;">
  <div class = "row">
    <div class="col-lg-3 col-md-6">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-3">
              <i class="fa fa-exchange fa-5x"></i>
            </div>
            <div class="col-xs-9 text-right">
              <div class="huge"><%= @number_of_animals %></div>
              <div>Animales</div>
            </div>
          </div>
        </div>
        <a href="/animals">
          <div class="panel-footer">
            <span class="pull-left">Detalles</span>
            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
            <div class="clearfix"></div>
          </div>
        </a>
    </div>
  </div>
  <div class="col-lg-3 col-md-6">
    <div class="panel panel-green">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-3">
            <i class="fa fa-tasks fa-5x"></i>
          </div>
          <div class="col-xs-9 text-right">
            <div class="huge"><%= @average_max_weight.round(2) %></div>
            <div>Peso Promedio</div>
          </div>
        </div>
      </div>
      <a href="/animals">
        <div class="panel-footer">
          <span class="pull-left">Ver detalles</span>
          <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
          <div class="clearfix"></div>
        </div>
      </a>
    </div>
  </div>
  <div class="col-lg-3 col-md-6">
    <div class="panel panel-yellow">
      <div class="panel-heading">
          <div class="row">
              <div class="col-xs-3">
                  <i class="fa fa-calendar-o fa-5x"></i>
              </div>
              <div class="col-xs-9 text-right">
                  <div class="huge"><%= @average_date_dif.round %></div>
                  <div>Días desde Ingreso</div>
              </div>
          </div>
      </div>
      <a href="/animals">
        <div class="panel-footer">
            <span class="pull-left">Ver detalles</span>
            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
            <div class="clearfix"></div>
        </div>
      </a>
    </div>
  </div>
  <div class="col-lg-3 col-md-6">
      <div class="panel panel-red">
          <div class="panel-heading">
              <div class="row">
                  <div class="col-xs-3">
                      <i class="fa fa-truck fa-5x"></i>
                  </div>
                  <div class="col-xs-9 text-right">
                      <div class="huge"><%= @average_daily_gains.round(2) %></div>
                      <div>Ganancia de Peso Diaria</div>
                  </div>
              </div>
          </div>
          <a href="/animals">
              <div class="panel-footer">
                  <span class="pull-left">View Details</span>
                  <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                  <div class="clearfix"></div>
              </div>
          </a>
      </div>
  </div>

  <div class="col-lg-6 col-md-6">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-3">
                    <i class="fa fa-th fa-5x"></i>
                </div>
                <div class="col-xs-9 text-right">
                    <div class="huge"><%= @average_recent_plot_score_b %></div>
                    <div>Potreros Bovinos</div>
                </div>
            </div>
        </div>
        <a href="/plots">
            <div class="panel-footer">
                <span class="pull-left">Detalles</span>
                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                <div class="clearfix"></div>
            </div>
        </a>
    </div>
</div>
<div class="col-lg-6 col-md-6">
  <div class="panel panel-green">
    <div class="panel-heading">
        <div class="row">
            <div class="col-xs-3">
                <i class="fa fa-th fa-5x"></i>
            </div>
            <div class="col-xs-9 text-right">
                <div class="huge"><%= @average_recent_plot_score_o %></div>
                <div>Potreros Ovinos</div>
            </div>
        </div>
    </div>
    <a href="/plots">
        <div class="panel-footer">
            <span class="pull-left">Ver detalles</span>
            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
            <div class="clearfix"></div>
        </div>
    </a>
  </div>
</div>

<!--<div class= "container">
<h2> Animales por Pesado</h2>
  <div id="chart" style="width: auto; height: 600px;"></div>

  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <%= javascript_tag do -%>
    google.charts.load('current', {'packages':['bar']});
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {
      var data = JSON.parse('<%= @data.to_json.html_safe -%>');
      data = [['Mes/Año', 'Cantidad']].concat(data);
      data = google.visualization.arrayToDataTable(data);
      var options = {
        chart: {
        }, legend: { position: 'none'},
      };

      var chart = new google.charts.Bar(document.getElementById('chart'));
      chart.draw(data, google.charts.Bar.convertOptions(options));
    }

  <% end -%>

</div>-->
