<p id="notice"><%= notice %></p>
<div class="container">
  <h2>Animales</h2>
  <table class="table">
    <thead>
      <tr>
        <th>Número</th>
        <!--<th>Specie</th>-->
        <th>Nacimiento</th>
        <th>Acciones</th>
      </tr>
    </thead>

    <tbody>
      <% @animals.each do |animal| %>
        <tr>
          <td><%= animal.animal_number %></td>
          <!--<td><%= animal.species %></td>-->
          <td><%= animal.birthday %></td>
          <td><%= link_to 'M', animal %>
            <%= link_to 'E', edit_animal_path(animal) %>
            <%= link_to 'B', animal, method: :delete, data: { confirm: 'Estás seguro?' } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  </br>
  <%= link_to 'Nuevo', new_animal_path, :class => "btn btn-primary btn-lg new-btn"%>
</div>
</div>
