<% content_for(:page_header) do %>
  <%= "Lista de Animales" %>
<% end %>
<% content_for :panel_heading do %>Animales<% end %>
<p id="notice"><%= notice %></p>
<div class="container">
  <div class = "row">
    <h2 class="col-sm-4">Animales</h2>
    <%= link_to 'Nuevo Animal', new_animal_path, :class => "btn btn-primary new-btn col-sm-4"%>
    <%= link_to 'Nuevo Peso', new_weight_path, :class => "btn btn-primary new-btn col-sm-4"%>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th>Número</th>
        <!--<th>Specie</th>-->
        <th>En Hacienda</th>
        <th>Último Peso</th>
        <th> Sin pesar </th>
        <th>GDP</th>
        <th></th>

      </tr>
    </thead>

    <tbody>
      <% @animals.order('id').each do |animal| %>
        <tr>
          <td><%= animal.animal_number %></td>
          <td><%= animal.days_in_ranch %> </td>
          <td><%= animal.last_weight %></td>
          <td><%= animal.days_since_last_weight %></td>
          <td><%= animal.daily_gained %></td>
          <!--<td><%= animal.species %></td>-->
          <td><%= link_to image_tag("info.png", border: 0, title: "Más información"), animal %>
            <% if current_user && (current_user.editor? or  current_user.admin?)%>
            <%= link_to image_tag("editing.png", border: 0, title: "Editar"), edit_animal_path(animal) %>
            <% end %>
            <% if current_user && current_user.admin? %>
            <%= link_to image_tag("close.png", border: 0, title: "Borrar"), animal, method: :delete, data: { confirm: 'Estás seguro?' } %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  </br>
  <%= link_to 'Nuevo Animal', new_animal_path, :class => "btn btn-primary btn-lg new-btn"%>
  <%= link_to 'Nuevo Peso', new_weight_path, :class => "btn btn-primary btn-lg new-btn"%>
</div>
</div>
