<p id="notice"><%= notice %></p>
<div class="container">
  <div class = "row">
    <h2 class="col-sm-6">Animales</h2>
    <%= link_to 'Nuevo', new_animal_path, :class => "btn btn-primary new-btn col-sm-6"%>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th>Número</th>
        <!--<th>Specie</th>-->
        <th>En Hacienda</th>
        <th>Último Peso</th>
        <th> Sin pesar </th>
        <th>GDP</th>
        <th>Acciones</th>

      </tr>
    </thead>

    <tbody>
      <% @animals.order('id').each do |animal| %>
        <tr>
          <td><%= animal.animal_number %></td>
          <td><%= animal.days_in_ranch %> </td>
          <td><%= animal.last_weight %></td>
          <td><%= animal.days_since_last_weight %></td>
          <td><%= animal.daily_gained %></td>
          <!--<td><%= animal.species %></td>-->
          <td><%= link_to 'M', animal %>
            <%= link_to 'E', edit_animal_path(animal) %>
            <%= link_to 'B', animal, method: :delete, data: { confirm: 'Estás seguro?' } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  </br>
  <%= link_to 'Nuevo', new_animal_path, :class => "btn btn-primary btn-lg new-btn"%>
</div>
</div>
