<p id="notice"><%= notice %></p>
<div class = "container">
  <div class = "row">
    <div class ="col-sm-6">
      <p>
        <h1><strong>No. Animal: <%= @animal.animal_number %> </h1>
      </p>
      <p>
        <strong>Especie:</strong>
        <%= @animal.species %>
      </p>

      <!--  <p>
      <strong>Nacimiento:</strong>
      <%= @animal.birthday %>
      </p>-->


      <%= link_to 'Editar', edit_animal_path(@animal) %> |
      <%= link_to 'Atrás', animals_path %> |
      <%= link_to 'Nuevo animal', new_animal_path%>
    </div>
    <div class="col-sm-6">
      <h4>GD: <%= @daily_weight_gain %> lbs  </h4>
      <h4>Días sin pesar: <%= @since_weight %> días  </h4>


    </div>
  </div>
</div>
<div class="container">
  <h4>Historial de Peso</h2>
  <table class="table">
    <thead>
      <tr>
        <th>Fecha</th>
        <th>Peso</th>
        <th>Acciones</th>
      </tr>
    </thead>

    <tbody>
      <% @weights.each do |w| %>
        <tr>
          <td><%= w.date.strftime("%d/%m/%y") %></td>
          <td><%= w.weight %></td>
          <td><%= link_to "Más info", weight_path(w) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
</div>
