<p id="notice"><%= notice %></p>

<p>
  <strong>Animal number:</strong>
  <%= @animal.animal_number %>
</p>

<p>
  <strong>Species:</strong>
  <%= @animal.species %>
</p>

<p>
  <strong>Birthday:</strong>
  <%= @animal.birthday %>
</p>

<%= link_to 'Edit', edit_animal_path(@animal) %> |
<%= link_to 'Back', animals_path %>

<div class="cards row">
  <% @weights.each do |d| %>
  <div class="card col-xs-4">
        <p><%= d.weight %></p>
        <p><%= d.date %></p>
    <%= link_to "See more", weight_path(d) %>
  </div>
  <% end %>
</div>
