<%= form_with(model: plot_evaluation, local: true) do |form| %>
  <% if plot_evaluation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(plot_evaluation.errors.count, "error") %> prohibited this plot_evaluation from being saved:</h2>

      <ul>
      <% plot_evaluation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :plot_id, "Potrero" %>
    <!--<%= form.text_field :plot_id, id: :plot_evaluation_plot_id %>-->
    <%= form.collection_select(:plot_id, Plot.all.order("ranch desc, plot_type asc, CAST(number as int) asc"), :id, :number_with_type, :selected => params[:plot_id])  %>
  </div>

  <div class="field">
    <%= form.label :date, 'Fecha:' %>
    <%= form.date_select :date, :use_month_numbers => true, :date_separator => " / ",  order: [:day, :month, :year], id: :plot_evaluation_date %>
  </div>

  <div class="field">
    <%= form.label :water_score, 'Agua:' %>
    <%= form.select :water_score, [1, 2,3,4,5] %>
  </div>

  <div class="field">
    <%= form.label :pasture_score, 'Pasturas:' %>
    <%= form.select :pasture_score, [1, 2,3,4,5] %>
  </div>

  <div class="field">
    <%= form.label :fences_score, 'Cercas:' %>
    <%= form.select :fences_score, [1, 2,3,4,5] %>
  </div>

  <div class="field">
    <%= form.label :comment, 'Comentarios:' %>
    <%= form.text_area :comment, id: :plot_evaluation_comment %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
