<%= form_with(model: plot_evaluation, local: true) do |form| %>
  <% if plot_evaluation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(plot_evaluation.errors.count, "error") %> prohibited this plot_evaluation from being saved:</h2>

      <ul>
      <% plot_evaluation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :plot_id %>
    <!--<%= form.text_field :plot_id, id: :plot_evaluation_plot_id %>-->
    <%= form.collection_select(:plot_id, Plot.all, :id, :number_with_type)  %>
  </div>

  <div class="field">
    <%= form.label :date, 'Fecha:' %>
    <%= form.date_select :date, id: :plot_evaluation_date %>
  </div>

  <div class="field">
    <%= form.label :water_score, 'Agua:' %>
    <%= form.number_field :water_score, id: :plot_evaluation_water_score %>
  </div>

  <div class="field">
    <%= form.label :pasture_score, 'Pasturas:' %>
    <%= form.number_field :pasture_score, id: :plot_evaluation_pasture_score %>
  </div>

  <div class="field">
    <%= form.label :fences_score, 'Cercas:' %>
    <%= form.number_field :fences_score, id: :plot_evaluation_fences_score %>
  </div>

  <div class="field">
    <%= form.label :comment, 'Comentarios:' %>
    <%= form.text_area :comment, id: :plot_evaluation_comment %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
