<p id="notice"><%= notice %></p>
<div class = :container>
  <p>
    <strong>ID-Potrero:</strong>
    <%= @plot_evaluation.plot_id %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= @plot_evaluation.date %>
  </p>

  <p>
    <strong>Water score:</strong>
    <%= @plot_evaluation.water_score %>
  </p>

  <p>
    <strong>Pasture score:</strong>
    <%= @plot_evaluation.pasture_score %>
  </p>

  <p>
    <strong>Fences score:</strong>
    <%= @plot_evaluation.fences_score %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= @plot_evaluation.comment %>
  </p>

  <%= link_to 'Editar', edit_plot_evaluation_path(@plot_evaluation) %> |
  <%= link_to 'Atrás', plot_evaluations_path %> |
  <%= link_to 'Borrar', @plot_evaluation, method: :delete, data: { confirm: 'Estás seguro?', :title => "Borrar"} %>
</div>
