<p id="notice"><%= notice %></p>
<div class = :container>
  <p>
    <strong>ID-Potrero:</strong>
    <%= @plot_evaluation.plot_id %>
  </p>

  <p>
    <strong>Fecha:</strong>
    <%= @plot_evaluation.date %>
  </p>

  <p>
    <strong>Agua:</strong>
    <%= @plot_evaluation.water_score %>
  </p>

  <p>
    <strong>Pastura:</strong>
    <%= @plot_evaluation.pasture_score %>
  </p>

  <p>
    <strong>Cercas:</strong>
    <%= @plot_evaluation.fences_score %>
  </p>

  <p>
    <strong>Comentarios:</strong>
    <%= @plot_evaluation.comment %>
  </p>
  <% if current_user && (current_user.admin?)%>
    <%= link_to 'Editar', edit_plot_evaluation_path(@plot_evaluation) %> |
    <%= link_to 'Borrar', @plot_evaluation, method: :delete, data: { confirm: 'Estás seguro?', :title => "Borrar"} %> |
  <% end %>
  <%= link_to 'Atrás', plot_evaluations_path %> |
  <%= link_to '+ Potrero', new_plot_path %> |
  <%= link_to '+ Evaluación', new_plot_evaluation_path %>
</div>
