<%= form_with(model: lot, local: true) do |form| %>
  <% if lot.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(lot.errors.count, "error") %> prohibited this lot from being saved:</h2>

      <ul>
      <% lot.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :ranch %>
    <%= form.text_field :ranch, id: :lot_ranch %>
  </div>

  <div class="field">
    <%= form.label :species %>
    <%= form.text_field :species, id: :lot_species %>
  </div>

  <div class="field">
    <%= form.label :number %>
    <%= form.text_field :number, id: :lot_number %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :lot_name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :lot_description %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
