<% content_for(:page_header) do %>
  <%= "Lotes de Animales" %>
<% end %>
<% content_for :panel_heading do %>Lotes<% end %>
<p id="notice"><%= notice %></p>
<div class = "row new_buttons">
  <div class = "page-wrapper">
    <%= link_to '<i class="fa fa-plus-circle fa-fw"></i> Lote'.html_safe, new_lot_path, :class => "btn btn-primary col-xs-6" %>
  </div>
</div>
<div class="dataTables_wrapper form-inline dt-bootstrap no-footer">
  <div class = "row">
    <div clas="col-sm-12">
      <div class ="table-responsive">
        <table class="table table-striped table-bordered table-hover">
          <thead>
            <tr>
              <th>Hda.</th>
              <th>Tipo</th>
              <th>#</th>
              <th>Nombre</th>
              <th>Anim</th>
              <th>Peso</th>
              <th>GDP</th>
              <th colspan="3"></th>
            </tr>
          </thead>

          <tbody>
            <% @lots.each do |lot| %>
              <tr>
                <td><small><%= lot.ranch %></small></td>
                <td><small><%= lot.species %></small></td>
                <td><%= lot.number %></td>
                <td><%= lot.name %></td>
                <td><%= lot.count %></td>
                <td><%= lot.average_weight.round(2) %> <small>(<%= lot.days_since_last_weight.round %>d)</small></td>
                <td><% unless lot.daily_gain.nil? %> <%= lot.daily_gain.round(2) %><% end %></td>
                <td>
                  <%= link_to '<i class="fa fa-info-circle fa-fw"></i>'.html_safe, lot_path(lot.lot_id) %>
                  <% if current_user && (current_user.admin?)%>
                  <%= link_to '<i class="fa fa-edit fa-fw"></i>'.html_safe, edit_lot_path(lot.lot_id) %>
                  <%= link_to '<i class="fa fa-trash-o fa-fw"></i>'.html_safe, lot_path(lot.lot_id), method: :delete, data: { confirm: 'Está seguro?' } %>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
