<p id="notice"><%= notice %></p>
  <div class = "row">
    <div class = "col-sm-6">
      <h1><%= @lot.name %></h1>
      <p>
        <strong>Hacienda:</strong>
        <%= @lot.ranch %>
        <strong>Especie:</strong>
        <%= @lot.species %>
        <strong>#:</strong>
        <%= @lot.number %>
      </p>
      <p>
        <%= @lot.description %>
      </p>

      <%= link_to 'Editar', edit_lot_path(@lot) %> |
      <%= link_to 'Atrás', lots_path %>
    </div>
    <div class = "col-sm-6">
      <p>
        <strong>Animales:</strong>
        <%= @lot_count.round %>
      </p>
      <p>
        <strong>Peso:</strong>
        <%= @lot_avg_weight.round(2) %>
      </p>
      <p>
        <strong>GDP:</strong>
        <%= @lot_gdp.round(2) %>
      </p>
      <p>
        <strong>CV:</strong>
        <%= @lot_w_cv.round(2) %>%
      </p>
    </div>
  </div>
<div class="page-wrapper">
  <div class = "col-sm-6">
    <h4>Animales</h2>
    <table class="table table-striped table-bordered table-hover">
      <thead>
        <tr>
          <th><%= sortable "animal_number",  "#"     %></th>
          <th><%= sortable "last_weight", "Peso"     %></th>
          <th><%= sortable "daily_gain" ,"GDP"       %></th>
        </tr>
      </thead>

      <tbody>
        <% @latest_weights.each do |a| %>
          <tr>
            <td><%= a.animal_number %></td>
            <td><%= a.last_weight %></td>
            <td><%= a.daily_gain.round(2) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class = "col-sm-6">
    <h4>Bajo GDP</h2>
    <table class="table table-striped table-bordered table-hover">
      <thead>
        <tr>
          <th><%= sortable "animal_number",  "#"     %></th>
          <th><%= sortable "last_weight", "Peso"     %></th>
          <th><%= sortable "daily_gain" ,"GDP"       %></th>
        </tr>
      </thead>

      <tbody>
        <% @low_gdp.each do |a| %>
          <tr>
            <td><%= a.animal_number %></td>
            <td><%= a.last_weight %></td>
            <td><%= a.daily_gain.round(2) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
