<p id="notice"><%= notice %></p>
  <div class = "row">
    <div class = "col-sm-6">
      <h1><%= @lot.name %></h1>
      <p>
        <strong>Hacienda:</strong>
        <%= @lot.ranch %>
        <strong>Especie:</strong>
        <%= @lot.species %>
        <strong>#:</strong>
        <%= @lot.number %>
      </p>
      <p>
        <%= @lot.description %>
      </p>
      <% if current_user && (current_user.admin?)%>
        <%= link_to 'Editar', edit_lot_path(@lot) %> |
        <%= link_to 'Borrar', @lot, method: :delete, data: { confirm: 'Está seguro?' } %> |
      <% end %>
      <%= link_to 'Atrás', lots_path %>
    </div>
    <div class = "col-sm-6">
      <p>
        <strong>Animales:</strong>
        <%= @lot_count.round %>
      </p>
      <p>
        <strong>PP:</strong>
        <%= @lot_avg_weight.round(2) %>
        <strong>Tot:</strong>
        <%= number_with_delimiter(@lot_weight_sum.round(2), :delimiter => ',') %>
        lbs
      </p>
      <p>
        <strong>GDP:</strong>
        <%= @lot_gdp.round(2) %>
        <strong>Costo:</strong>
        L. <%= number_with_delimiter(@lot_cost.round(2), :delimiter => ',')  %>
      </p>
      <p>
        <strong>CV:</strong>
        <%= @lot_w_cv.round(2) %>%
      </p>
    </div>
  </div>
<div class="page-wrapper">
  <div class = "col-sm-6">
    <h4>Animales</h2>
    <table class="table table-striped table-bordered table-hover">
      <thead>
        <tr>
          <th><%= sortable "animal_number",  "#"     %></th>
          <th><%= sortable "last_weight", "Peso"     %></th>
          <th><%= sortable "daily_gain" ,"GDP"       %></th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @latest_weights.each do |a| %>
          <tr>
            <td><%= a.animal_number %></td>
            <td><%= a.last_weight %></td>
            <td>
              <% unless a.daily_gain.nil? %><%= a.daily_gain.round(2) %><% end %>
            </td>
            <td>
              <%= link_to '<i class="fa fa-info-circle fa-fw"></i>'.html_safe, animal_path(a.animal_id) %>
              <% if current_user && (current_user.admin?)%>
              <%= link_to '<i class="fa fa-edit fa-fw"></i>'.html_safe, edit_animal_path(a.animal_id) %>
              <%= link_to '<i class="fa fa-trash-o fa-fw"></i>'.html_safe, animal_path(a.animal_id), method: :delete, data: { confirm: 'Estás seguro?' } %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class = "col-sm-6">
    <h4>Bajo GDP</h2>
    <table class="table table-striped table-bordered table-hover">
      <thead>
        <tr>
          <th><%= sortable "animal_number",  "#"     %></th>
          <th><%= sortable "last_weight", "Peso"     %></th>
          <th><%= sortable "daily_gain" ,"GDP"       %></th>
        </tr>
      </thead>

      <tbody>
        <% @low_gdp.each do |a| %>
          <tr>
            <td><%= a.animal_number %></td>
            <td><%= a.last_weight %></td>
            <td><%= a.daily_gain.round(2) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
