<!DOCTYPE html>
<html>
  <head>
    <title>Hacienda</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('favicon.png'), :rel => 'icon', :type =>  'image/png' %>
  </head>

  <body>

    <div class="container"
      <ul class="nav nav-tabs justify-content-center" >
        <li class="nav-item">
          <%= link_to "Rancho", '/', :method => :get, :class => "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Animales", '/animals', :method => :get, :class => "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Pesos", '/weights', :method => :get, :class => "nav-link" %>
        </li>
      </ul>
    </div>
    <%= yield %>
  </body>
</html>
